.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    top: 50vh;
    left: 50vw;
    transform: scale(0.22);
    animation: 
        move_freefall 1s ease-in forwards 3.5s,
        deform1 0.1s ease forwards 4.45s,
        move_rebound1Up 0.25s ease-out forwards 4.5s,
        move_rebound1Down 0.25s ease-in forwards 4.75s,
        deform1 0.1s ease forwards 4.95s,
        move_rebound2Up 0.25s ease-out forwards 5s,
        move_rebound2Down 0.25s ease-in forwards 5.25s,
        deform2 0.1s ease forwards 5.45s,
        move_rebound3Up 0.25s ease-out forwards 5.5s,
        move_rebound3Down 0.25s ease-in forwards 5.75s,
        deform2 0.1s ease forwards 5.95s,
        move_rebound4Up 0.25s ease-out forwards 6s,
        move_rebound4Down 0.25s ease-in forwards 6.25s,
        deform3 0.1s ease forwards 6.45s,
        move_rebound5Up 0.15s ease-out forwards 6.5s,
        move_rebound5Down 0.15s ease-in forwards 6.65s,
        move_displacement1 1.5s ease-in forwards 6.8s,
        move_rotate1 1.5s ease-in forwards 6.8s,
        /* --Rebote del lado izquierdo-- */
        deform4 0.1s ease forwards 8.25,
        move_reboundLeft1 0.2s ease-out forwards 8.3s,
        move_rotateInverse1 0.2s ease-out forwards 8.3s,
        move_reboundLeft2 0.15s ease-in-out forwards 8.5s,
        move_rotateInverse2 1.05s linear forwards 8.5s,
        deform3 0.1s ease forwards 8.65s,
        move_reboundLeft3 0.2s ease-in-out forwards 8.7s,
        move_reboundLeft4 0.2s ease-in-out forwards 8.9s,
        deform3 0.1s ease forwards 9.35s,
        move_reboundLeft5 0.5s linear forwards 9.1s,
        move_navbar 2s ease-in-out forwards 11s
}
.hexagon1_color{
    width: 200px;
    /* width: 15vw; */
    /* height: 34vw; */
    position: absolute;
}
.hexagon1_color polygon{
    fill: transparent;
    stroke-width: 12px;
    stroke: #f19e22;
    stroke: #64646449;
    stroke-dasharray: 1240;
        animation: 
            /* style_colorVector 0.5s linear forwards 3.5s,  */
            style_colorVector 0.1s linear forwards 4.45s, 
            style_colorVector 0.1s linear forwards 4.95s, 
            style_colorVector 0.1s linear forwards 5.45s, 
            style_colorVector 0.1s linear forwards 5.95s, 
            style_colorVectorFixed 0.5s linear forwards 6.45s
}
.hexagon2_color{
    width: 235px;
    position: absolute;
    rotate: 90deg;
    z-index: -1;
}
.hexagon2_color polygon{
    fill: transparent;
    stroke-width: 12px;
    stroke: #f19e22;
    stroke: #64646449;
    stroke-dasharray: 1240;
    animation: 
        /* style_colorVector 0.5s linear forwards 3.5s,  */
        style_colorVector 0.1s linear forwards 4.45s, 
        style_colorVector 0.1s linear forwards 4.95s, 
        style_colorVector 0.1s linear forwards 5.45s, 
        style_colorVector 0.1s linear forwards 5.95s, 
        style_colorVectorFixed 0.5s linear forwards 6.45s
}
.text{
    display: flex;
    position: absolute;
    width: 70px;
    height: 140px;
}
.text h1:nth-child(1){
    position: absolute;
    top:0px;
    left: 0px;
    align-self: flex-start;
    font-family: 'Tulpen One', cursive;
    font-size: 100px;
    font-weight: 100;
    color: #f19e22;
    color: #64646449;
    animation: 
        /* style_colorText 0.5s linear forwards 3.5s, */
        style_colorText 0.1s linear forwards 4.45s, 
        style_colorText 0.1s linear forwards 4.95s, 
        style_colorText 0.1s linear forwards 5.45s, 
        style_colorText 0.1s linear forwards 5.95s, 
        style_colorTextFixed 0.5s linear forwards 6.45s
}
.text h1:nth-child(2){
    position: absolute;
    bottom: 0px;
    right: 0px;
    align-self: flex-start;
    font-family: 'Tulpen One', cursive;
    font-size: 100px;
    font-weight: 100;
    color: #f19e22;
    color: #64646449;
    animation: 
        /* style_colorText 0.5s linear forwards 3.5s, */
        style_colorText 0.1s linear forwards 4.45s, 
        style_colorText 0.1s linear forwards 4.95s, 
        style_colorText 0.1s linear forwards 5.45s, 
        style_colorText 0.1s linear forwards 5.95s, 
        style_colorTextFixed 0.5s linear forwards 6.45s
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.22);
    }
}

@keyframes style_colorVector {
    0%{
        stroke: #64646449;
    }
    30%{
        stroke: #f19e22;
    }
    100%{
        stroke: #64646449;
    }
}
@keyframes style_colorVectorFixed {
    0%{
        stroke: #64646449;
    }
    30%{
        stroke: #f19e22;
    }
    100%{
        stroke: #f19e22;
    }
}
@keyframes style_colorText {
    0%{
        color: #64646449;
    }
    30%{
        color: #f19e22;
    }
    100%{
        color: #64646449;
    }
}
@keyframes style_colorTextFixed {
    0%{
        color: #64646449;
    }
    30%{
        color: #f19e22;
    }
    100%{
        color: #f19e22;
    }
}

@keyframes move_freefall {
    0%{
        left: 50vw;
        top: 50vh;
    }
    100%{
        left: 50vw;
        top: 90vh;
    }
}
@keyframes move_rebound1Up {
    0%{
        left: 50vw;
        top: 90vh;
    }
    98%{
        left: 50vw;
        top: 85vh;
    }
    100%{
        left: 50vw;
        top: 85vh;
    } 
}
@keyframes move_rebound1Down {
    0%{
        left: 50vw;
        top: 85vh;
    }
    98%{
        left: 50vw;
        top: 90vh;
    }
    100%{
        left: 50vw;
        top: 90vh;
    } 
}
@keyframes move_rebound2Up {
    0%{
        left: 50vw;
        top: 90vh;
    }
    98%{
        left: 50vw;
        top: 86vh;
    }
    100%{
        left: 50vw;
        top: 86vh;
    } 
}
@keyframes move_rebound2Down {
    0%{
        left: 50vw;
        top: 86vh;
    }
    98%{
        left: 50vw;
        top: 90vh;
    }
    100%{
        left: 50vw;
        top: 90vh;
    } 
}
@keyframes move_rebound3Up {
    0%{
        left: 50vw;
        top: 90vh;
    }
    98%{
        left: 50vw;
        top: 87vh;
    }
    100%{
        left: 50vw;
        top: 87vh;
    } 
}
@keyframes move_rebound3Down {
    0%{
        left: 50vw;
        top: 87vh;
    }
    98%{
        left: 50vw;
        top: 90vh;
    }
    100%{
        left: 50vw;
        top: 90vh;
    } 
}
@keyframes move_rebound4Up {
    0%{
        left: 50vw;
        top: 90vh;
    }
    98%{
        left: 50vw;
        top: 88vh;
    }
    100%{
        left: 50vw;
        top: 88vh;
    } 
}
@keyframes move_rebound4Down {
    0%{
        left: 50vw;
        top: 88vh;
    }
    98%{
        left: 50vw;
        top: 90vh;
    }
    100%{
        left: 50vw;
        top: 90vh;
    } 
}
@keyframes move_rebound4Up {
    0%{
        left: 50vw;
        top: 90vh;
    }
    98%{
        left: 50vw;
        top: 89vh;
    }
    100%{
        left: 50vw;
        top: 89vh;
    } 
}
@keyframes move_rebound4Down {
    0%{
        left: 50vw;
        top: 89vh;
    }
    98%{
        left: 50vw;
        top: 90vh;
    }
    100%{
        left: 50vw;
        top: 90vh;
    } 
}
@keyframes move_displacement1 {
    0%{
        left: 50vw;
        top: 90vh;
    }
    100%{
        left: 25px;
        top: 90vh;
    }
}
@keyframes move_reboundLeft1 {
    0%{
        left: 25px;
        top: 90vh;
    }
    100%{
        left: 26.5px;
        top: 88vh;
    }
}
@keyframes move_reboundLeft2 {
    0%{
        left: 26.5px;
        top: 88vh;
    }
    100%{
        left: 32px;
        top: 90vh;
    }
}
@keyframes move_reboundLeft3 {
    0%{
        left: 32px;
        top: 90vh;
    }
    100%{
        left: 38.5px;
        top: 89vh;
    }
}
@keyframes move_reboundLeft4 {
    0%{
        left: 38.5px;
        top: 89vh;
    }
    100%{
        left: 50.5px;
        top: 90vh;
    }
}
@keyframes move_reboundLeft5 {
    0%{
        left: 50.5px;
        top: 90vh;
    }
    100%{
        left: 65.5px;
        top: 90vh;
    }
}
@keyframes move_rotate1 {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -1800deg;
    }
}
@keyframes move_rotateInverse1 {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 150deg;
    }
}
@keyframes move_rotateInverse2 {
    0%{
        rotate: 150deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes move_rotateInverse5 {
    0%{
        rotate: 300deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes deform1 {
    0%{
        transform: scale(0.22);
    }
    50%{
        transform: scale(0.27, 0.17);
    }
    100%{
        transform: scale(0.22);
    }
}
@keyframes deform2 {
    0%{
        transform: scale(0.22);
    }
    50%{
        transform: scale(0.25, 0.19);
    }
    100%{
        transform: scale(0.22);
    }
}
@keyframes deform3 {
    0%{
        transform: scale(0.22);
    }
    50%{
        transform: scale(0.23, 0.21);
    }
    100%{
        transform: scale(0.22);
    }
}
@keyframes deform4 {
    0%{
        transform: scale(0.22);
    }
    50%{
        transform: scale(0.21, 0.23);
    }
    100%{
        transform: scale(0.22);
    }
}
@keyframes move_navbar {
    0%{
        left: 65.5px;
        top: 90vh;
    }
    50%{
        left: -5.1vw;
        top: 50vh;
    }
    100%{
        transform:scale(0.15);
        left: 2vw;
        top: 4.5vh;
    }
}