.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation: delay_blur 2s forwards;
    overflow: hidden;
}
.container_center{
    position: absolute;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: display_none 3s forwards;
}
.container_loader_center{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    z-index: 1;
}
.container_left{
    position: absolute;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
    animation: open_left 5.8s ease forwards, shadow 5.8s linear forwards;
}
.container_loader_left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 12.5em;
    z-index: 1;
    position: absolute;
    left: 50vw;
}
.container_right{
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
    animation: open_right 5.8s ease forwards, shadow 5.8s linear forwards;
}
.container_loader_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 200px;
    z-index: 1;
    position: absolute;
    right: 50vw;
}

@keyframes open_left {
    0%{
        right: 50%;
    }
    60%{
        right: 50%;
    }
    100%{
        right: 110%;
    }
}

@keyframes open_right {
    0%{
        left: 50%;
    }
    60%{
        left: 50%;
    }
    100%{
        left: 110%;
    }
}
@keyframes shadow {
    0%{
        background-color: #1e1e1e;
        backdrop-filter: blur(0px);
        box-shadow:none;
    }
    60%{
        background-color: #1e1e1e;
        backdrop-filter: blur(0px);
        box-shadow:none;
    }
    65%{
        background-color: #1e1e1ed9;
        backdrop-filter: blur(4px);
        box-shadow: 0px 10px 15px 1px #0e0e0e9d;
    }
    100%{
        background-color: #1e1e1ed9;
        backdrop-filter: blur(4px);
        box-shadow: 0px 10px 15px 1px #0e0e0e9d;
    }
}

@keyframes display_none {
    to{
        display: none;
    }
}