.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    animation: delay_blur 2s forwards;
}
.container_left{
    background-color: red;
}
.container_right{
    background-color: cyan;
}