.container{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 93vh;
    width: 100%;
    height: 7vh;
    z-index: 2;
    box-shadow: 0px -10px 20px 0px #1f1f1fa5;
}
.subContainer{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}
