.principalContainer{
    background-color: cadetblue;
    background-color: #64646449;
    background-color: #1e1e1e;
    border: 1.5px solid #C78118;
    width: 560px;
    height: 235px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0px 0px 20px 0px black;
}
.subContainer1{
    /* background-color: brown; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 85%;
}
.description{
    display: flex;
    align-items: center;
    width: 50%;
    height: 80%;
    padding-right: 10px;
    /* background-color: chartreuse; */
}
.description p{
    text-align: justify;
}
.containerImage{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    padding-left: 10px;
}
.containerImage img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}
.subContainer2{
    width: 100%;
    height: 15%;
    border: none;
    border-top: 1px solid white;
    border-top: 1px solid #C78118;
}
.technologies{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}