*{
    box-sizing: border-box;
}
.container{
    /* background-color: aquamarine; */
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.container_about{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    /* box-shadow: 0px 10px 20px 0px #171717; */
    z-index: 0;
}
.container_proyects{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    z-index: -1;
}

.container_foottechnologies{
    z-index: 2;
    opacity: 0;
    animation: render 1s ease-in-out forwards 13s;
}
.container_navBar{
    z-index: 15;
    opacity: 0;
    animation: render 1s ease-in-out forwards 13s;
}
.container_frontCard{
    opacity: 0;
    animation: render 1s ease-in-out forwards 13s;
}
.container_technologies{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    z-index: -1;
}
@keyframes render {
    to{
        opacity: 1;
    }
}