.principal_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
}
.container_title{
    display: flex;
    /* background-color: red; */
    width: 100%;
    padding: 0 0 0 2.5%;
}
.title{ 
    background-color: #C78118;
    padding: 0em 0.3125em 0em 0.9375em;
    width: 100%;
}
.container_title h2{ 
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2.1em;
    letter-spacing: 0.089em;
}
.container_subtitle{
  display: flex;
  /* background-color: red; */
  width: 100%;
  padding: 0 0 0 0%;
}
.subtitle{ 
  background-color: #C78118;
  padding: 0em 0.1488em 0em 0.446em;
  width: 100%;
}
.container_subtitle h2{ 
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 0.0416em;
}
.container_content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-left: 2.5%;
    /* border: 2px solid red; */
}
.container_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
    width: 50%;
    height: 100%;
    /* border: 2px solid greenyellow; */
}
.container_technologies{
  width: 100%;
  height: 75%;
  box-shadow: 1.25em 1.25em 1.25em -0.937em rgba(0, 0, 0, 0.575);
  /* border: 2px solid red; */
}
.container_icons{
  display: flex;
  justify-content: center;
}
.container_frontend{
  width: 100%;
  height: 33.33%;
  /* border: 1px solid rebeccapurple; */
  /* margin: 5px */
}
.container_backend{
  width: 100%;
  height: 33.33%;
  /* border: 1px solid rebeccapurple; */
  /* margin: 5px */
}
.container_database{
  width: 100%;
  height: 33.33%;
  /* border: 1px solid rebeccapurple; */
  /* margin: 5px */
}
.container_decoration{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 80%;
    margin-left: 5%;
  }

  .container_hexagon1{
    width: 30%;
    height: 30%;
    margin-top: 2%;
    margin-left: 8%;
  }
  .container_hexagon2{
    align-self: flex-end;
    width: 30%;
    height: 30%;
    transform: rotateZ(180deg);
    margin-right: 8%;
    margin-bottom: 2%;
  }

  .container_phrase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background-color: violet; */
    width: 80%;
    height: 100%;
    right: 10%;
  }
  .container_phrase p{
    /* background-color: red; */
    display: flex;
    /* text-align:center; */
    font-family: 'Tulpen One', cursive;
    font-size: 3.437em;
    font-weight: 100;
    color: #f1f1f1;
  }
  .icon{
    display: flex;
    align-items: center;
    width: 1.875em;
    overflow: hidden;
    margin: 0.9375em 0.9375em 0em 0.9375em;
  }
  .icon img{
    width: 1.875em;
  }