.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
    padding: 0% 0% 0% 2.5%;
    /* background-color: red; */
}
.containerTitle{
    width: 100%;
    padding: 0px 2px 2px 15px;
    background-color: #C78118;
}
.containerTitle h2{
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2.1rem;
    letter-spacing: 3px;
}
.containerDescription{
    width: 100%;
    height: 50%;
    padding-right: 2.5%;
    /* background-color: blueviolet; */
}
.containerDescription p{
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.05rem;
    letter-spacing: 1.5px;
}

.containerButton{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    /* background-color: aquamarine; */
}

.button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    color: #f1f1f1;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    padding: 0px;
    cursor: pointer;
}
.button:hover {
    color: #C78118;
}
.button:hover:after {
    width: 100%;
    left: 0%;
  }
.button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #C78118;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .icons{
    color:#C78118;
    font-size: 1.2rem;
    margin-top: 2px;
    margin-left: 2.4rem;
    transform: scaleX(1.5);
  }
  .iconsReverse{
    color:#C78118;
    font-size: 1.2rem;
    margin-top: 2px;
    margin-right: 2.4rem;
    transform: scaleX(1.5) rotateZ(180deg);
  }