.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
    padding: 0% 0% 0% 2.5%;
    font-size: 1rem;
    /* background-color: red; */
}
.containerTitle{
    width: 100%;
    padding: 0em 0.125em 0.125em 0.937em;
    background-color: #C78118;
}
.containerTitle h2{
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.8em;
    letter-spacing: 0.089em;
}
.container_description{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 50%;
    height: 100%;
    box-shadow: 1.25em 1.25em 1.25em -0.937em rgba(0, 0, 0, 0.575);
}
.container_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25em;
    width: 100%;
    height: 80%;
    padding-right: 2.5%;
}
.container_text p{
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.05rem;
    letter-spacing: 0.089em;
    /* text-align: justify; */
}


.containerButton{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    /* background-color: aquamarine; */
}

.button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    color: #f1f1f1;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    padding: 1.25em;
    cursor: pointer;
}
.button:hover {
    color: #C78118;
}

  .icons{
    color:#C78118;
    font-size: 1.2em;
    margin-top: 0.104em;
    margin-left: 2em;
    transform: scaleX(1.5);
  }
  .iconsReverse{
    color:#C78118;
    font-size: 1.2rem;
    margin-top: 0.104em;
    margin-right: 2em;
    transform: scaleX(1.5) rotateZ(180deg);
  }

  .container_decoration{
    display: flex;
    justify-content: space-between;
    width: 31.2em;
    height: 24.6em;
    margin-left: 5%;
    margin-top: -6%;
    /* background-color: aquamarine; */
  }

  .container_hexagon1_open{
    position: absolute;
    width: 30%;
    height: 30%;
    animation: open_hexagon1 1s ease-in-out forwards;
  }
  .container_hexagon2_open{
    position: absolute;
    align-self: flex-end;
    width: 30%;
    height: 30%;
    transform: rotateZ(180deg);
    animation: open_hexagon2 1s ease-in-out forwards;
  }
  .container_hexagon1_close{
    position: absolute;
    width: 30%;
    height: 30%;
    animation: close_hexagon1 1s ease-in-out forwards;
  }
  .container_hexagon2_close{
    position: absolute;
    align-self: flex-end;
    width: 30%;
    height: 30%;
    transform: rotateZ(180deg);
    animation: close_hexagon2 1s ease-in-out forwards;
  }
  .container_phrase_open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 100%;
    animation: open_phrase 1s ease-in-out forwards;
  }
  .container_phrase_open p{
    display: flex;
    font-family: 'Tulpen One', cursive;
    font-size: 3.4375em;
    font-weight: 100;
    color: #f1f1f1;
  }
  .container_phrase_close{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 100%;
    animation: close_phrase 1s ease-in-out forwards;
  }
  .container_phrase_close p{
    display: flex;
    font-family: 'Tulpen One', cursive;
    font-size: 3.4375em;
    font-weight: 100;
    color: #f1f1f1;
  }

  @keyframes open_hexagon1 {
    from{
      margin-top: 31%;
      /* margin-top: 7.4em; */
      /* margin-left: 7.7em; */
      margin-left: 24.5%;
    }
    to{
      margin-top: 8%;
      /* margin-top: 2.4em; */
      margin-left: 8%;
      /* margin-left: 2.4em; */
    }
  }
  @keyframes open_hexagon2 {
    from{
      margin-left: 25%;
      /* margin-left: 7.8em; */
      margin-bottom: 31%;
      /* margin-bottom: 7.2em; */
    }
    to{
      margin-left: 60%;
      /* margin-left: 18.5em; */
      margin-bottom: 8%;
      /* margin-bottom: 2.4em; */
    }
  }
  @keyframes close_hexagon1 {
    from{
      margin-top: 8%;
      /* margin-top: 2.4em; */
      /* margin-left: 8%; */
      margin-left: 2.4em;
    }
    to{
      margin-top: 31%;
      /* margin-top: 7.4em; */
      margin-left: 24.5%;
      /* margin-left: 7.7em; */
    }
  }
  @keyframes close_hexagon2 {
    from{
      margin-left: 60%;
      /* margin-left: 18.5em; */
      margin-bottom: 8%;
      /* margin-bottom: 2.4em; */
    }
    to{
      margin-left: 25%;
      /* margin-left: 7.8em; */
      margin-bottom: 31%;
      /* margin-bottom: 7.2em; */
    }
  }
  @keyframes close_phrase {
   from{
    right: 10%;
    scale: 1;
   }
    to{
      right: 20%;
      scale: 0.05;
   } 
  }
  @keyframes open_phrase {
    from{
      right: 20%;
      scale: 0.05;
    }
     to{
      right: 10%;
      scale: 1;
    } 
   }
   @media (max-width: 450px){
    .container{
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      /* background-color: red; */
      height: 80em;
    }
      .container_description{
        width: 90%;
        height: 50%;
        margin-top: 1em;
        box-shadow: 1.25em 1.25em 1.25em -0.937em rgba(0, 0, 0, 0.575);
        /* background-color: violet; */
      }
      .container_decoration{
        margin-top: 5em;
      }
      .container_text p{
        font-size: 1.3em;
      }
      .button{
        font-size: 1.3em;
      }
   }