.principal_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    /* background-color: red; */
    width: 100%;
    height: 100%;
    padding: 0 0 0 2.5%;
}
.container_title{ 
    background-color: #C78118;
    padding: 0em 0.3125em 0em 0.937em;
    width: 100%;
}
.container_title h2{ 
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.8em;
    letter-spacing: 0.089em;
}

.container_proyects{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    /* background-color: red; */
}

