body {
  margin: 0;
  background-color: #1e1e1e; 
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}

body::-webkit-scrollbar{
  width: 6px;
}
body::-webkit-scrollbar-thumb{
  background-color: #C78118;
  border: 1px solid #9a6210;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: #9a6210;
}