.container_card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 38.75em;
    /* border: 2px solid red; */
    height: 25em;
    overflow: hidden;
}

.container_proyectData_open{
    position: absolute;
    display: flex;
    /* justify-content:space-between; */
    /* border: 2px solid chocolate; */
    width: 31.25em;
    height: 15.62em;
    animation: data_open 0.9s linear forwards;
    z-index: 1;
}
.container_proyectData_close{
    position: absolute;
    display: flex;
    /* justify-content:space-between; */
    /* border: 2px solid chocolate; */
    width: 31.25em;
    height: 15.62em;
    animation: data_close 1s linear forwards;
}
.container_1{
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    width: 10%;
    box-shadow: 0 0 0.312em 0 #0000009f;
    padding: 2px;
}   
.container_1 :nth-child(1){
    align-self: flex-start;
}
.container_1 :nth-child(2){
    align-self: flex-end;
}
.container_2{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
}
.subcontainer_1{
    /* border: 2px solid salmon; */
}
.subcontainer_1 p{
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 0.85em;
    letter-spacing: 0.0735em;
    text-align: justify;
    padding-left: 1.47em;
}
.subcontainer_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.container_icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
    /* background-color: red; */
}
.icon img{
    width: 1.2em;
    margin: 0.3125em;
    filter: drop-shadow( 2px 2px 1px #0f0f0fc7) 
            drop-shadow( -2px 2px 1px #0f0f0fc7)
            drop-shadow( 2px -2px 1px #0f0f0fc7)
            drop-shadow( -2px -2px 1px #0f0f0fc7);
}
.container_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid blue; */
    width: 80%;
    text-decoration: none;
}
.container_links a{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  text-decoration: none;
}
.container_links a:hover{
  scale: 0.9;
}
.container_links img{
  width: 1.5em;
  margin: 0.3125em;
}
.container_links p{
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 300;
}
.container_technologies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    /* border: 2px solid blue; */
}
.container_image{
    /* background-color: red; */
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.container_image img{
    width: 12.5em;
    border-radius: 0.125em;
}
.container_decoration{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    margin-left: 5%;
    margin-top: -6%;
    z-index: 1;
  }

  .container_hexagon1_open{
    position: relative;
    /* border:2px solid blueviolet; */
    width: 30%;
    height: 30%;
    animation: open_hexagon1 0.7s linear forwards;
  }
  .container_hexagon2_open{
    /* border:2px solid blueviolet; */
    position: relative;
    align-self: flex-end;
    width: 30%;
    height: 30%;
    transform: rotateZ(180deg); 
    animation: open_hexagon2 0.7s linear forwards;

  }
  .container_hexagon1_close{
    position: relative;
    /* border:2px solid blueviolet; */
    width: 30%;
    height: 30%;
    animation: close_hexagon1 1s linear forwards;
  }
  .container_hexagon2_close{
    /* border:2px solid blueviolet; */
    position: relative;
    align-self: flex-end;
    width: 30%;
    height: 30%;
    transform: rotateZ(180deg);
    animation: close_hexagon2 1s linear forwards;
  }

  .container_phrase_open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background-color: violet; */
    width: 80%;
    height: 100%;
    right: 10%;
  }
  .container_phrase_close{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background-color: violet; */
    width: 80%;
    height: 100%;
    right: 10%;
  }
  .container_phrase p{
    /* background-color: red; */
    display: flex;
    /* text-align:center; */
    font-family: 'Tulpen One', cursive;
    font-size: 3.4375em;
    font-weight: 100;
    color: #f1f1f1;
  }

  .container_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: max-content;
    /* border: 2px solid red; */
  }
  .container_title h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tulpen One', cursive;
    font-size: 2em;
    font-weight: 600;
    line-height: 0.85;
  }

  @keyframes open_hexagon1 {
    from{
        top: 6.9em;
        left: 12.8em;
    }
    to{
        top: -0.9375em;
        left: -0.3125em;
    }
  }

  @keyframes close_hexagon1 {
    from{
        top: -0.9375em;
        left: -0.3125em;
    }
    to{
        top: 6.9em;
        left: 12.8em;
    }
  }
  @keyframes open_hexagon2 {
    from{
        right: 12.8em;
        bottom: 6.9em;
    }
    to{
        right: 1.5625em;
        bottom: -3.125em;
    }
  }
  @keyframes close_hexagon2 {
    from{
        right: 1.5625em;
        bottom: -3.125em;
    }
    to{
        right: 12.8em;
        bottom: 6.9em;
    }
  }

  @keyframes data_open {
    from{
        scale: 0.1;
    }
    to{
        scale: 1;
    }
  }
  @keyframes data_close {
    from{
        scale: 1;
    }
    to{
        scale: 0.1;
        left: 4.5em;
        top: 3.5em;
    }
  }